@* Light grey brand strip shown above the navy topbar on logged-in pages *@
<div class="brandbar">
    <div class="brand-inner">
        <img src="/images/company-logo.png" alt="Company logo" class="brand-logo" />
        <span class="brand-title">Sensore by Graphene Trace</span>
    </div>
</div>
